

      body{
          background-image: url('../images/YEET.jpg');
         }

      div{
          background-image:url('../images/PranavaLbanner.jpg');text-align:center;font-size:300%;color:white; border:black;
          border-radius:100px; 
         }

      table{
          text-align:left;font-size: 25px;padding:40px;color:whitesmoke;
         }

      .button{background-color:yellowgreen;font-size: 15px;
         }

      a{
          color:black;
         }

      img{
          width:150px;height:150px;text-align:right;
         }